/* * {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url(/assets/images/Bar-Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */

.characters {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

nav {
  text-align: center;
  padding-bottom: 75px;
  padding-top: 50px;
  font-family: 'Major Mono Display', monospace;
  font-size: 50px;
}

.characters {
  font-family: 'Major Mono Display', monospace;
}

img {
  border: 5px solid #555;
  margin-bottom: 100px;
}

.characters h1 {
  margin-bottom: 100px;
}

.btn {
  width: 200px;
  height: 100px;
  border: none;
  color: black;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  border: 3px solid black;
  position: relative;
  z-index: 1;
  font-family: monospace;
}

.btn:hover {
  color: #fff;
  cursor: pointer;
}

.btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: green;
}

.btn:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.quote-dsplay {
  display: block;
  margin-bottom: 100px;
  text-align: center;
  font-size: 40px;
  font-style: bold;
  font-family: 'Major Mono Display', monospace;
  background-color: black;
  color: white
}

a{
  margin: 20px 20px;
  padding: 5px 50px;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 70px;
  font-family: 'Major Mono Display', monospace;
}

.page-buttons {
  opacity: 0;
  display: flex;
  justify-content: space-around;
  transition: all 5.0s ease;
  -webkit-transition: all 5.0s ease;
  -moz-transition: all 5.0s ease;
  -ms-transition: all 5.0s ease;
  -o-transition: all 5.0s ease;
}
