:root {

  --summaryButtonColor: #C3D9AA;
  --titleTextColor: #DDA15E;
  --mainBGColor: #BC6C25;

  --main-bg-color: brown;
  --boxHeight: 110px;

  --hourBoxColor: #D4A373;
  --meetingBoxColor: #FAEDCD;

  
  --saveBoxShade: #515B2F;

}

*{ margin: 0px;}

.recipeNameTitle {
  font-size: 80px;
  color: var(--titleTextColor);
}

.summaryButton {
  background-color: var(--summaryButtonColor);
  opacity: 0.9;
  min-height: 100px;
  font-size: 50px;
  width: 80%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.recipeCard {
  opacity: 0.93;
  min-height: 500px;
  min-width: 500px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.beerCard {
  opacity: 0.93;
  min-height: 500px;
  min-width: 500px;
  max-width: 800px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.foodStats {
  font-size: 25px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.beerCardBeerFacts {
  font-size: 20px;
}

.beerCardBeerTitle {
  font-size: 50px;
  display: flex;
  justify-content: center;

}

.recipeCardNameTitle {
  font-size: 50px;
  display: flex;
  justify-content: center;

}

body {
  background-image: url(../../assets/images/eaters-collective-ESmxug33C0c-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--mainBGColor);
}

.beerImg {
  border-radius: 25px;
  /* opacity: 0.92 */
}

.drinkInstructionsTitle {
  font-size: 20px;

}

.recipeNameTitle h3 {
  font-size: 100px;
}