/* 
DinnerWithSchmucks
*/

:root {

  --summaryButtonColor: #729e5c;
  --titleTextColor: #f7ae5b;

}

*{ margin: 0px;}

.recipeNameTitle {
  font-size: 100px;
  line-height: 100px;
  color: var(--titleTextColor);
  text-shadow: 1px 1px 10px black;
}

#drinks {
  font-size: 60px;
  margin-top: 10px;
  color: var(--titleTextColor);
  line-height: 60px;
}

.pairedItems {
  margin: 10px auto;
  margin-bottom: 100px;
  line-height: 35px;
  text-align:center;
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#main-content {
  flex-wrap: wrap;
}

.summaryButton {
  background-color: var(--summaryButtonColor);
  opacity: 1;
  min-height: 100px;
  font-size: 50px;
  width: 80%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  box-shadow: 1px 5px 10px black; 
}

.recipeCard {
  background-color: white;
  opacity: 0.93;
  min-height: 500px;
  min-width: 500px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  line-height: 30px;
  font-size: 20px;
  box-shadow: 1px 5px 10px black;
}

.beerCard {
  background-color: white;
  opacity: 0.93;
  min-height: 500px;
  min-width: 500px;
  max-width: 800px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 1px 1px 30px black;
}

.foodStats {
  font-size: 25px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.beerCardBeerFacts {
  font-size: 20px;
}

.recipeCardNameTitle, .beerCardBeerTitle {
  font-size: 45px;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  line-height: 50px;
}

.recipeCardFullrecipe {
  font-size: 17px;
  line-height: 1.5em;
}

body {
  background-image: url(../../assets/images/eaters-collective-ESmxug33C0c-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(56, 56, 56);
}

.beerImg, .recipeImg {
  border-radius: 25px;
}

.drinkInstructionsTitle {
  font-size: 20px;

}

.mid-break {
  opacity: 0;
  text-align: center;
  margin-top: 100px;
}

#summarybutt {
  display: block;
  justify-content: center;
  font-family: 'Major Mono Display', monospace;
}

.summaryButton:hover {
  text-decoration: none;
}

a {
  color:white !important;
}

a:hover {
  text-decoration: none !important;
  opacity: 100% !important;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 992px) {
  .main-content {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  #summaryButtonShadow {
    font-size: 20px;
  }
}