/* 
DinnerWithSchmucks
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Noto+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/landing-background.png);
    background-size: cover;
    background-color: rgb(44, 44, 44);
}

.page-top {
    margin: 200px auto;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    line-height: normal;
}

.section-title {
    width: 50%;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 90px;
    border-bottom: 5px solid white;
}

.middle-bio {
    width: 50%;
    margin: auto;
    padding-top: 25px;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 30px;
}

.page-bottom {
    margin: 200px auto;
}

.start-button {
    width: 30%;
    margin: 50px auto;
    padding: 10px;
    background-color: rgb(57, 25, 218);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    box-shadow: 1px 1px 5px black;
}

.button-text a {
    display: flex;
    justify-content: center;
    margin: auto;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 40px;
    text-decoration: none;
}

.start-button:hover {
    background-color: red;
    box-shadow: 1px 1px 20px black;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    opacity: 50%;
    background-color: rgb(61, 61, 61);
    color: white;
    text-align: center;
    list-style-type: none;
    text-shadow: 1px 1px 5px black;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 20px;
}

li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 20px;
}